; ratings module
; routes
;
; Part of »Zugzwang Project«
; https://www.zugzwang.org/modules/ratings
;
; @author Gustaf Mossakowski <gustaf@koenige.org>
; @copyright Copyright © 2026 Gustaf Mossakowski
; @license http://opensource.org/licenses/lgpl-3.0.html LGPL-3.0

[ratings_club_ratings]
description = "Rating list for a club"
brick = request clubratings *
group = public

[ratings_dewis_members]
description = "Import of members"
brick = make dewis_members *
group = localhost

[ratings_dewis_organisations]
description = "Import of organisations"
type = path
brick = make dewis_organisations *
group = localhost

[ratings_dsb_profile]
description = "Player profile on DSB webpage"
default = https://www.schachbund.de/spieler/%s-%s.html
group = public

[ratings_dsb_pid_profile]
description = "Player profile on DSB webpage with ID"
default = https://www.schachbund.de/spieler/%d.html
group = public

[ratings_fide_profile]
description = "Player profile on FIDE webpage"
default = https://ratings.fide.com/profile/%s
group = public

[ratings_sync]
description = "Ratings sync"
type = path
brick = "make ratings *"
group[] = localhost
group[] = admin
